body {
    font-family: 'Swis721 BT', sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

#logo {
    width: 200px;
    height: 54px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-shrink: 0;
}

#screw {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

#coming-soon {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-shrink: 0;
}